# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE関連
*.iml
*.ipr
*.iws
.idea/
.vscode/
.gradle/
local.properties

# Flutter/Dart関連
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/doc/api/

# iOS/Xcode関連
ios/**/Flutter/Flutter.framework
ios/**/Flutter/Flutter.podspec
ios/**/Flutter/.last_build_id
ios/**/.symlinks
ios/**/Pods/
Podfile
Podfile.lock
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate

# Android関連
**/android/app/debug
**/android/app/profile
**/android/app/release

# Web関連 (Flutter web ビルド成果物)
**/web/*.dart.js
**/web/*.dart.js.map
**/web/firebase-messaging-sw.js

# Symbolication関連
app.*.symbols

# Obfuscation関連
app.*.map.json

# 環境変数
**/.env
**/.env.*
!**/.env.sample
